* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/*Scrollbars*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #D0D0D0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
}